.TeamListTable {
    width: 90%;
    margin: 30px auto;

    & th {
        background: lightseagreen;
        color: white;
        padding: 5px;
    }

    & td {
        padding: 5px;
    }

    & .teamGroup {
        background: lightgreen;
        border-bottom: 10px solid white;
        border-top: 10px solid white;
    }
}